@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


@media screen and (min-width: 667px) and (max-width: 1024px){

    body{
        background-image: linear-gradient(to top,#0A0140, #365073);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    menu#imagem{
      background-image: url(../imagens/cyberpunk-tablet.jpg);
    
      height: 300px;
      width: 100%;
      margin-top: 1px;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: top,center;
    }

    #titulo{
        background-color: black;
        background-image: url(../imagens/tablet-titulo.png);
        
        height: 150px;
        width: 100%;
        margin-bottom: 2px;
        transition: .5s;

           
        background-position: center;
        background-repeat: no-repeat
    


    }

    .nav{
        
        width: 110px;
        margin-top: -1px;
        padding-right: 40px ;
        margin-left: 4px;
        border-radius: 5px;

    }


    

    ul > li > a {
        display: block;
        background-color: #f2e30f ;
        color: black;
        text-align: center;
        margin-bottom: 5px;
        height: 25px;
        border-radius: 5px;
        padding: 2px 10px 0px;
        text-decoration: none;
        transition-duration: .4s;
    }

    ul > li > .nav:hover{
        background-color:#365073;
        color: #f2e30f;
        width: 150px;
        transition-duration: .6s;
      }

      main{
        width: 90vw;
        background-color: #bf857ea7;
        margin: auto;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
      }

      div.video{
        margin-bottom: 30px;
        margin: 0px -20px 30px -20px;
        padding: 20px;
        padding-bottom: 50%;
        position: relative;
      }

      div.video > iframe{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
       }

       
}

@media  screen and (min-width:1024px) and (max-width:1680px){

  *{
    margin: 0px;
    padding: 0px;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

  #titulo{
    background-color: black;
    background-image: url(../imagens/tablet-titulo.png);
    
    height: 150px;
    width: 100%;
    margin-bottom: 2px;
    transition: .5s;

       
    background-position: center;
    background-repeat: no-repeat



}

  menu#imagem{
    background-image: url(../imagens/desktop-1920x1080.png);
    height: 500px;
    width: 100%;
    margin-bottom: 5px ;
    background-position: center,right;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

      
  .nav{
    display: inline-block;
    background-color: #0a0140a8;
    color: white;
    text-align: center;

    width: 100px;
    height: 30px;
    margin: auto;
    padding: 5px 5px 2px 4px;
    margin-left:10px;
    border-radius: 5px;
    margin-top: 450px;
    text-decoration: none;

 }

 ul > li > a{
  text-align: center;
  transition-duration: .4s;
 }

 menu > ul > li {
  display: inline-block;
  
}



.nav:hover{
  background-color: #5581bb ;
  color: #f2e30f;
  transform: translate(.10s);
  width: 130px ;
}



main{
  width: 50vw;
  background-color: #858282a7;
  padding: 10px;
  border-radius: 5px;
  margin-top: -1px;
  margin: auto;
}



div.video{
  margin-bottom: 30px;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 50%;
  position: relative;
}


div.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
 }

 article > p{
  text-align: center;
 }


}