@charset "UTF-8";

/*paleta de cores 
azul escuro:#0A0140
azul mais claro:#365073
amarelo#F2E30F 
bege:#F2D2B6
bege escuro:#BF847E
*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: #F2D2B6;
}

header{
    background-color: white;
}


header > h1{
    padding: 10px;
    text-align: center;
}