@charset "UTF-8";

/*paleta de cores 
azul escuro:#0A0140
azul mais claro:#365073
amarelo #f2e30f 
bege:#F2D2B6
bege escuro:#BF847E
*/

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width:360px) and (max-width:640px){
      menu#imagem{
        background-image: url(../imagens/cyber-punk-mobile.jpg);
        height: 200px;
        width: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center,center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.684);
      }

      h1{
        font-family:'cyber, arial , sans-serif';
        background-color: #f2e30f ;
        color: #365073;
        text-align: center;
        padding: 10px;
      }

      menu > ul{
        list-style-type: none;
      }

      .nav{
        display: inline-block;
        margin-top: 160px;
        padding-right: 40px;
        margin-left: 4px ;
        border-radius: 5px;
        

      }
      
      ul > li > a{
        display: block;
        background-color: #365073;
        color: white;
        height: 25px;
        border-radius: 5px;
        padding: 2px 10px 0px;
        text-decoration: none;
        transition-duration: .3s;
      }

      ul > li > a:hover{
        background-color:#F2D2B6;
        color: #365073;
        transition-duration: .8s;
      }

      main{
        width: 90vw;
        background-color:#bf857ea7;
        margin: auto;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;

      }

      article > h2{

      }
    
}



